<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/infra" method="post">
    <input type="hidden" name="lokacija" value="Lokacija">
    <input type="hidden" name="stanje" value="Stanje">
    <input type="hidden" name="hitrost" value="90.5">
    <input type="hidden" name="razmik" value="5">
    <input id="margin_left" type="submit" value="Dodaj">
</form>